/* navbar */
#navbar{
	position: fixed;
	width: 100%;
	margin-bottom: 20px;
	top: 0px;
}

/* leaflet map */
#map{ 
	height: 300px;
	margin: 51px auto;
}

/* map zoom buttons and attribution */
.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
