$geom: 'XXIIGeom-Regular';
$ocean-color: #73B6E6;
$land-color: #E8E0D8;
$gray-dark: #373a3c;
$brand-primary: #0275d8;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
