{
  "rules": {
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
		"no-console": 0,
		"no-unused-vars": 0
  },
  "env": {
    "es6": true,
    "browser": true,
		"node": true
  },
	"globals": {
		"Dom": false,
		"Map": false,
		"Router": false,
		"Sparql": false,
		"$": false,
		"L": false
	},
  "extends": "eslint:recommended"
}
