html, body {
  overflow-x:hidden;
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}


.belt {
  width: 200%;
  position: relative;
  left: 0;

  @include transition(all, 800ms);
}

.welcome, .results {
  width: 50%;
  float: left;

  @include make-container()
}

.row {
  @include make-row();
}
