.navbar {

	&-brand {
		font-family: $geom;
		cursor: pointer;
		&:hover {
			// gotto target the inner span i guess
		}
	}
	&-nav {
		color: white;
	}
	&-form {
		float: right;
	}
	&-search {
		width: 40vw;
		max-width: 300px;
	}
}

.nav-link {
	color: white;
}
