.welcome-wrap
  +make-container()

.row
  +make-row()

.welcome-container
  +make-col()

  //TODO: maybe just make it max width?
  +media-breakpoint-up(xs)
    +make-col-span(12)

  +media-breakpoint-up(md)
    +make-col-span(8)
    +make-col-offset(2)

  +media-breakpoint-up(lg)
    +make-col-span(6)
    +make-col-offset(3)


  h1
    text-align: center
    font-size: 1.6rem
    +media-breakpoint-up(lg)
      font-size: 2.96rem
  // whole search form
  .input-group
    margin-top: 20px
    box-sizing: border-box

  // conference selector
  .conference
    width: auto

  li
    padding-left: 1rem
    cursor: pointer
    &:hover
      background-color: rgba($brand-primary, .25)

    a
      color: inherit
      text-decoration: none


  // submit button
  .btn
    height: 38px

  .blurb
    margin-top: 20px
