.welcome-container

  // whole search form
  .input-group
    margin-top: 20px
    box-sizing: border-box

  // conference selector
  .conference
    width: auto

  li
    padding-left: 1rem
    cursor: pointer
    &:hover
      background: fade-in(blue, .1)

    a
      color: inherit
      text-decoration: none


  // submit button
  .btn
    height: 38px




  .blurb
    margin-top: 20px
