.home {

  &-container {
    margin: auto;
    max-width: 600px;
    width: 90%;
  }

  &-header {
    text-align: center;
    font-size: 7vw;
    font-family: 'XXIIGeom-Regular';
    font-weight: bold;

    @media (min-width: 667px) {
      font-size: 48px
    }
  }

  // &-submit {
  //   height: 40px;
  //   color: white;
  //   background-color: $gray-dark;
  //   border-color: $gray-dark;
  // }
}

.home-form {
  display: flex;
  border: $border;
  border-radius: 5px;
  overflow-y: visible;
  
  &__search {
    flex: 1;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
  }
  
  &__dropdown {
    border-left: $border;
  }
  
  &__submit {
    padding: 0.5em;
    background: $gray-dark;
    border: none;
    color: white;
  }
}

.dropdown {
  position: relative;
  width: 100px;
  padding: 0.5em;
  cursor: pointer;
  user-select: none;

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: $border;
    background: white;
    
    // Hidden
    opacity: 0;
    pointer-events: none;
  }
  &.isActive &__menu {
    opacity: 1;
    pointer-events: auto;
  }
}

// .home-form .form-control {
//   border: solid $gray-dark 2px;
//   // border-color: $gray-dark;
// }
// 
// .dropdown {
//   &-toggle.btn {
//     width: 8rem;
//   }
// 
//   &-item {
//     padding-left: 1rem;
//     cursor: pointer;
// 
//     &:focus,
//     &:hover {
//       background-color: rgba($brand-primary, .25);
//     }
//   }
//   &.isActive {
//     .dropdown-menu {
//       display: block;
//     }
//   }
// 
//   input {
//     display: none;
//   }
// }
.icon-search {
  @include size(1.5rem);
}
