.results {

  &-container {
    // @include make-container();
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1000px;

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(lg) {

    }

    @include media-breakpoint-up(xl) {

    }
  }

  &-title {
    text-align: center;
  }

}

.people,
.papers {

  flex-basis: 48%;
  flex-grow: 1;
  flex-shrink: 1;

  @include media-breakpoint-up(sm) {
    flex-grow: 0;
  }


  &-header {
    padding-left: 20px;
  }

  &-container {
    overflow-y: auto;
    border-right: 2px solid $gray-dark;
    border-top: 2px solid $gray-dark;


  }

}

// overriding bootstrap
.list-group-item {
  border: 0;

  &:nth-child(even) {
    background-color: whitesmoke;
  }

  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

.icon-spinner {
  display: none;

  margin: auto;
  height: 100px;
  width: 50px;


  &.isSpinning {
    display: block;
    animation: spin 1s linear infinite;
  }
}

.rawdata {
  float: right;
}
