.results {

  &-container {
    @include make-container();
  }

  &-title {
    text-align: center;
  }

}

.people,
.papers {

  @include media-breakpoint-up(md) {

    @include make-col();
    @include make-col-span(6);
  }

  @include media-breakpoint-up(lg) {

    @include make-col-span(5);
    @include make-col-push(1);
  }

  @include media-breakpoint-up(xl) {

    @include make-col-span(4);
    @include make-col-push(2);
  };

  &-header {
    // text-align: center;
    margin: 0 0 0 0;
    border-bottom: 2px solid $gray-dark;

    &:before {
      content: '';
      width: 80px;
      border-bottom: 5px solid $gray-dark;
      border-bottom: 6px solid #373a3c;
      position: absolute;
      left: 40px;
      top: 36px;
    }
  }
}

.list-group-item {
  border: 0;
}

.people-container,
.papers-container {
  overflow-y: auto;
  border-left: 2px solid $gray-dark;
}

.rawdata {
  float: right;
}
