doctype 
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title spatial.linkedscience
    link(rel="stylesheet", href="css/main.css")
  body
    // navbar
    include ./includes/navbar
    // leaflet map
    #map
    // conveyor belt for UI
    .belt
      // WELCOME
      include ./includes/welcome
      // RESULTS
      include ./includes/results

    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/leaflet.min.js")
    script(src='js/bundle.js')

// nginx config file at /usr/local/etc/nginx/nginx.conf
