header.navbar.navbar-dark.bg-inverse.navbar-fixed-top
  
  .navbar-brand(href='')
    span.hidden-sm-down SPATIAL <span class="icon-earth"></span> LINKEDSCIENCE
    span.icon-earth.hidden-md-up
      
  ul.nav.navbar-nav
    //li.nav-item
      a.nav-link(href="#") About
    //li.nav-item
      a.nav-link(href="#") Search
    li.nav-item#testAuthor
      a.nav-link(href="#") Author
    li.nav-item#testPaper
      a.nav-link(href="#") Paper
    //li.nav-item
      a.nav-link(href="#") Affiliation
      
  form.form-inline.navbar-form
    input#nav-search.form-control.form-control-sm(type="search", placeholder="Search", autocomplete='off')
