.results-wrap
  .row
    section.results-container
      //- tab nav
      ul.nav.nav-tabs(role="tablist")
        li.nav-item
          a.nav-link(href="#authors-pane", role="tab", data-toggle="tab") 
            .icon-users  Authors
        li.nav-item
          a.nav-link(href="#papers-pane", role="tab", data-toggle="tab")
            .icon-book  Papers
      //- Tab panes
      .tab-content
        .tab-pane#authors-pane(role="tabpanel")
          .people-wrap
            //h2.people-header
            .people-container
              ul.list-group.people-list  
        .tab-pane#papers-pane(role="tabpanel")
          .paper-wrap
            //h2.paper-header
            .paper-container
              ul.list-group.paper-list
      //
      //- h1.title
      //- .people-wrap
      //-   h2.people-header
      //-   .people-container
      //-     ul.people-list
      //- .paper-wrap
      //-   h2.paper-header
      //-   .paper-container
      //-     ul.paper-list
