.results-wrap.container
  .results-container
    h1.title
    .row
      .people-wrap.col-md-4
        h2.people-header
        .people-container
          ul.people-list
      .paper-wrap.col-md-8
        h2.paper-header
        .paper-container
          ul.paper-list
